<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>방 없음 목록</title>
</head>
<body>
<h1>방 없음 목록</h1>

<table border="1">
  <tr>
    <th>제목</th>
    <th>작성자</th>
    <th>조회수</th>
    <th>날짜</th>
    <th>지역</th>
    <th>카테고리</th>
  </tr>
  <tr th:each="post : ${postsPage.content}">
    <td th:text="${post.rm_board_title}"></td>
    <td th:text="${post.author_name}"></td>
    <td th:text="${post.post_views}"></td>
    <td th:text="${post.post_date}"></td>
    <td th:text="${post.author_region}"></td>
    <td th:text="${post.category}"></td>
  </tr>
</table>

<!-- 페이징 버튼 -->
<div>
  <a th:if="${postsPage.hasPrevious()}" th:href="@{/board/no-rooms(page=${postsPage.number - 1}, size=${postsPage.size})}">이전</a>
  <span th:text="${postsPage.number + 1}"></span> / <span th:text="${postsPage.totalPages}"></span>
  <a th:if="${postsPage.hasNext()}" th:href="@{/board/no-rooms(page=${postsPage.number + 1}, size=${postsPage.size})}">다음</a>
</div>
<!-- 카테고리 변경 -->
<form>
  <select onchange="location = this.value;">
    <option value="/board/no-rooms" selected>방 없음</option>
    <option value="/board/rooms" >방 있음</option>
  </select>
</form>
</body>
</html>
