<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>방 있음 목록</title>
</head>
<body>
<h1>방 있음 목록</h1>
<table border="1">
    <tr>
        <th>제목</th>
        <th>작성자</th>
        <th>조회수</th>
        <th>날짜</th>
        <th>지역</th>
        <th>카테고리</th>
        <th>금액</th>
    </tr>
    <tr th:each="post : ${posts}">
        <td th:text="${post.rm_board_title}"></td>
        <td th:text="${post.author_name}"></td>
        <td th:text="${post.post_views}"></td>
        <td th:text="${post.post_date}"></td>
        <td th:text="${post.author_region}"></td>
        <td th:text="${post.category}"></td>
        <td th:text="${post.amount}"></td>
    </tr>
</table>
<form>
    <select onchange="location = this.value;">
        <option value="/board/rooms">방 있음</option>
        <option value="/board/no-rooms">방 없음</option>
    </select>
</form>

</body>
</html>
